body{
   font-family: Arial, sans-serif;
}
.header{
   max-width: 1500px;
   margin: 30px auto 80px;
}
.header__menu-list{
   margin:0;
   padding:0;
   display: flex;
   justify-content: end;
   gap:20px;
   list-style-type: none;
}
.header__menu-item{
   position: relative;
   margin-left: 40px;
}
.header__menu-item::before{
   content: "";
   display: inline-block;
   width:2px;
   height: 100%;
   background-color: #000;
   position: absolute;
   top:0;
   left: 0;
   transform: scale(0);
   transition: transform 0.4s;
}
.header__menu-item::after{
   content: "";
   display: inline-block;
   width:100%;
   height: 2px;
   background-color: #000;
   position: absolute;
   bottom:0;
   left: 0;
   transform: scale(0);
   transition: transform 0.4s;
}
.header__menu-item:hover::before{
   transform: scale(1);
}
.header__menu-item:hover::after{
   transform: scale(1);
}
.header__menu-link{
   text-decoration: none;
   color: #000;
   font-size: 20px;
   line-height: 32.5px;
   padding:5px;
   position: relative;
}
.header__menu-link::after{
   content: "";
   display: inline-block;
   width:2px;
   height: 100%;
   background-color: #000;
   position: absolute;
   top:0;
   right: 0;
   transform: scale(0);
   transition: transform 0.4s;
}
.header__menu-link::before{
   content: "";
   display: inline-block;
   width:100%;
   height: 2px;
   background-color: #000;
   position: absolute;
   top:0;
   right: 0;
   transform: scale(0);
   transition: transform 0.4s;
}
.header__menu-link:hover::after{
   transform: scale(1);
}
.header__menu-link:hover::before{
   transform: scale(1);
}
main{

   margin:auto;
}

.main__about{
   display: flex;
   border-top:30px solid #C4C4C4;
   justify-content: space-between;
   gap:30px;
   margin:0 15% 80px;
}
.about__content{
   flex:0 1 65%;
}
.about__title{
   font-size: 40px;
}
.about__text-content{
   text-align: justify;
}
.about__image-container{
   flex:0 1 30%;
   overflow: hidden;
   padding-bottom: 30%;
   height: 0;
   position: relative;
}
.about__image{
   width:100%;
   height:100%;
   position: absolute;
   border-radius: 50%;
   object-fit: cover;
}
.main__btn{
   background-color: #FD6266;
   border:none;
   outline:none;
   color:#fff;
   padding:15px;
   margin-top: 30px;
   font-size: 18px;
   border-radius: 3px;
   cursor: pointer;
   transition: all 0.4s;
}
.main__btn:hover{
   background-color: #e7454b
}
.main__posts{
   background-color: #EDF7F9;
   padding:20px 15% 80px;
}
.posts__cards{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap:20px;
}
.posts__card{
   flex: 1 1 300px;
   background-color: #fff;
   border-radius: 5px;
   padding:10px;
}
.card__title{
   font-size: 30px;
}
.main-works{
   margin:0 15% 80px;
}
.main__articles-container{
   margin:0 15% 80px;
}
.main__article{
   display: flex;
   justify-content: space-between;
   gap:20px;
   padding:30px 0;
   border-bottom:2px solid #cacaca;
}
.main__article-img{
   flex:0 1 20%;
   overflow: hidden;
   padding-bottom: 20%;
   height: 0;
   position: relative;
   border-radius: 10px;
   box-shadow: 0 0 8px #808080;
}
.main__article-image{
   width:100%;
   height:100%;
   position: absolute;
   object-fit: cover;
}
.main__article-content{
   flex:0 1 80%;
}
.main__article-title{
   font-size: 30px;
   font-weight: 700;
   margin:0;
   padding: 0;
}
.main__article-year{
   display: inline-block;
   background-color: #1F3250;
   color:#fff;
   padding: 5px 10px;
   border-radius: 15px;
   margin-right: 20px;
}
.main__article-description{
   font-size: 18px;
   color:#C7CBCC;
   font-weight: 700;
}